body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, white, red);
}
.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
}
.register-box {
    width: 300px;
    height: 450px;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.title {
    font-size: 28px;
    font-weight: bold;
}
.highlight {
    color: red;
}
.form-group {
    width: 90%;
    margin-bottom: 15px;
}
.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
}
.btn {
    width: 100%;
    padding: 12px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-link {
    margin-top: 10px;
    font-size: 14px;
}


.school-name {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}