
:root {
  --fonte-principal: 'Roboto', sans-serif;
  --cor-primaria: #007bff;
  --cor-secundaria: #0056b3;  
}

body {
  background-image: url('/app/static/imagens/c244de7f-479a-424e-a58d-436fcf36b06e.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

.register-box {
  font-family: var(--fonte-principal);
  position: absolute;
  left: 40%;
  background-color: none;
  margin: 100px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  color: white;

}

.titulo-box {
  color: rgb(0, 0, 0);text-align: center;

}