
:root {
  --fonte-principal: 'Roboto', sans-serif;
  --cor-primaria: #007bff;
  --cor-secundaria: #0056b3;  
}

body {
  background-image: url('/app/static/css/imagens/c244de7f-479a-424e-a58d-436fcf36b06e.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

.register-box {
  font-family: var(--fonte-principal);
  position: absolute;
  left: 40%;
  background-color: none;
  margin: 100px auto;
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 70px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  text-align: left;
  color: white;

}

.titulo-box {
  color: rgb(255, 255, 255);text-align: center;
}

.register-box input {
  background-color: #ffffff;
  width: 95%;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.escolher-imagen input {
  background-color: #072f5a;
  border: none;
}
.btn {
  background-color: #072f5a;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 7px;
  display: block;
  margin: 15px auto;
  width: 100%;
}


