body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 7, 141));
}
.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
}
.register-box {
    width: 300px;
    height: 450px;
    border: 2px solid black;
    border-radius: 15px;
    background: #94b3fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: absolute;
    left: 38%;
}
.title {
    font-size: 28px;
    font-weight: bold;
}
.highlight {
    color: rgb(255, 255, 255);
}
.form-group {
    width: 91%;
    margin-bottom: 15px;
}
.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
}
.btn {
    width: 100%;
    padding: 12px;
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-link {
    margin-top: 10px;
    font-size: 14px;
}


.school-name {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}



.imagen {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
    font-size: 14px;
    text-align: drift 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    width: 290px;
    padding: 0px;
    margin-bottom: 15px;
    
    

}
.imagen input {
    padding: 4px;
    
}



.logo-container {
        list-style: none;
        padding: 10px;
        background-color: none;
        color: black;
        border: 1px solid #000000;
        margin-bottom: 20px;
        border-radius: 5px;
        top: -450px;
        display: flex;
        left: 600px;
        position: relative;
}

input[type="number" ]::-webkit-outer-spin-button,
input[type="number" ]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number" - "e] {"] {
  appearance: none;
}

.logo {
    left: 68%;
    position: relative;

}