body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 7, 141));
}
.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
    left: 40%;
    position: absolute;
}
.login-visual {
    width: 300px;
    height: 450px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: radial-gradient(circle at center, #1900ff, rgb(0, 0, 0));
    box-shadow: inset 0 0 200px #ffffffb3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.title {
    font-size: 28px;
    font-weight: bold;
}
.highlight {
    color: red;
}
.form-group {
    width: 90%;
    margin-bottom: 15px;
}
.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.btn {
    width: 104%;
    padding: 12px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.register {
    margin-top: 10px;
    font-size: 14px;
}

.school-name {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 10vh;
    left: 40%;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.cadastrinho {

  text-decoration: none;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.login {
    color: white;
}