html {
    background-image: url(caetano\ png.png);
}






/* modifiaçao do texto scrull*/

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}
/* MODIFICAÇAO DO TITULO CAETANO DE CAMPOS*/


h1 {
    font-size: 3em;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}


h1 span {
    color: red;
}

/* modificaçao dos botoes*/

.Secret {  
    position: absolute;
    top: 350px;
    right: 100px;
    width: 350px;
    height: 100px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    color: white;
    background-color: rgb(252, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 5px, 5px 0px #000;
    transition: all 0.3s ease;
}
.Secret:hover {
    background-color: whitesmoke;
    color: red;
    border: 2px solid red;
    box-shadow: 5px 5px 0px red;
}
.Secret:active {
    background-color: yellow;
    box-shadow: none;
    transform: translateY(4px);
}


.Direct {  
    position: absolute;
    top: 500px;
    right: 100px;
    width: 350px;
    height: 100px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 5px, 5px 0px #000;
    transition: all 0.3s ease;
}
.Direct:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}
.Direct:active {
    background-color: yellow;
    box-shadow: none;
    transform: translateY(4px);
}


/* modificaçao do texto com scrull*/

.titulo-scrull {
    color: rgb(255, 0, 0);
}

.text {   
    width: 800px;
    height: 400px;
    padding: 15px;
    background-color: none;
    backdrop-filter: blur(10px);
    overflow: auto;
    position: absolute;
    left: 10px;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: left;
    
}

.texte *{
    direction: ltr;
}

.text p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    overflow: arial,
    sans-serif;
}


/* modificaçao dos botoes dos audios*/



.play{
    position: absolute;
    right: 400px;
    top: 680px;
    padding: 10px;
    background-color: rgb(0, 89, 255);
    border-radius: 10px;
    border: none;
    
}
.replay {
    position: absolute;
    right: 110px;
    top: 680px;
    padding: 10px;
    background-color: cyan;
    border-radius: 10px;
    border: none;
}

.pause {
    position: absolute;
    right: 255px;
    top: 680px;
    padding: 10px;
    background-color: cyan;
    border-radius: 10px;
    border: none;
}

