<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caetano Cadastro</title>
    <link rel="stylesheet" href="cadastro2.css">
</head>
<body>
    <div class="container">
        <div class="register-box">
            <h2>Cadastro</h2>

            <form action="docuemtno.php" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <input type="text" placeholder="RG">
            </div>

            <div class="form-group">
                <input type="email" placeholder="Email">
            </div>

            <div class="imagen">
                <label for="imagen" > 
                    Escolha uma imagen:
                </label>
                <input type="file" name="image," id="imagem" accept="image/*" required>
                  
            </div>

            <div class="form-group">
                <input type="password" placeholder="Senha">
            </div>

            <div class="form-group">
                <input type="password" placeholder="Confirmar Senha">
            </div>

            </form>

            <button class="btn">Cadastrar</button>
            


            <p class="login-link">Já tem uma conta? <a href="login.html">Faça login</a></p>
        </div>
        <div>
            <h1><span class="highlight">Caetano</span> Cadastro</h1>
            <h2 class="school-name">E.E Caetano de Campos</h2>
        </div>
    </div>

    <div>


    </div>
</body>
</html>
