<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordenadores</title>
    <link rel="stylesheet" href="/static/prof.css">
</head>
<body>
    <h1>Lista de Coordenadores</h1>
    <table border="1">
        <thead>
            <tr>
                <!-- Substitua pelos nomes das colunas da sua tabela -->
                <button onclick="window.location.href='/'">Voltar</button>
                <button onclick="window.location.href='/'">Voltar</button>
                <button onclick="window.location.href='/'">Voltar</button>
            </tr>
        </thead>
        <tbody>
            {% for row in dados %}
            <tr>
                <td>{{ row['id'] }}</td>
                <td>{{ row['nome'] }}</td>
                <td>{{ row['disciplina'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='/'">Voltar</button>
</body>
</html>