<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Caetano Cadastro</title>
        <link rel="stylesheet" href="/app/static/css/cadastro2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <canvas id="starCanvas"></canvas>
        <div class="logo">   
       
    </div>
    <div class="container">
        <div class="logo-container">
            <!-- Flash Messages -->
           <!--- {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flash-messages">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
            {% endif %}
            {% endwith %} -->
        </div>
        <div class="register-box">
            <h2 class="titulo-box">Caetano de Campos</h2>
            <h3 class="titulo-box-1" >Cadastro </h3>
            <form action="{{ url_for('auth.cadastro') }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="cpf">Cpf</label> <br>
                    <input type="number" name="cpf_pk" placeholder=" " id="cpf" required oninput="this.value=this.value.replace(/[^0-9]/g, '')">
                </div>
            
                <div class="form-group" method="POST">
                    <label for="email-">Email</label> <br>
                    <input type="email" name="sk_email" placeholder=" " id="email" required>
                </div>
            
            
                <div class="form-group">
                    <label for="Senha">Senha</label> <br>
                    <input type="password" name="senha_1" placeholder=" " id="Senha" required>
                </div>
            
                <div class="form-group">
                    <label for="senha2">Confirme a Senha</label> <br>
                    <input type="password" name="senha_2" placeholder=" " id="senha2" required>
                </div>

                <div class="escolher-imagen">
                    <label for="imagem">Escolha uma imagem:</label> <br>
                    <input type="file" name="image" id="imagem" accept="image/*" required>
                </div>
                <button class="btn" type="submit">Cadastrar</button>
            </form>
        </div>
   <script src="/static/cadastro2.js"></script>
    </div>
</body>
</html>
