  <!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Caetano Cadastro</title>
        <link rel="stylesheet" href="/static/css/cadastro2.css">
    </head>
    <body>
    <div class="logo">
       <h2 class="school-name">E.E Caetano de Campos</h2>
    </div>
    <div class="container">
        <div class="logo-container">
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flash-messages">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="register-box">
            <h2 class="highlight">Caetano Cadastro</h2>
            <form action="{{ url_for('auth.cadastro') }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="cpf">Cpf</label>
                    <input type="number" name="cpf_pk" placeholder=" " id="cpf" required oninput="this.value=this.value.replace(/[^0-9]/g, '')">
                </div>
            
                <div class="form-group" method="POST">
                    <label for="email-">Email</label>
                    <input type="email" name="sk_email" placeholder=" " id="email" required>
                </div>
            
                <div class="imagen">
                    <label for="imagem">Escolha uma imagem:</label>
                    <input type="file" name="image" id="imagem" accept="image/*" required>
                </div>
            
                <div class="form-group">
                    <label for="Senha">Senha</label>
                    <input type="password" name="senha_1" placeholder=" " id="Senha" required>
                </div>
            
                <div class="form-group">
                    <label for="senha2">Confirme a Senha</label>
                    <input type="password" name="senha_2" placeholder=" " id="senha2" required>
                </div>
            
                <button class="btn" type="submit">Cadastrar</button>
            </form>
        </div>

    </div>
</body>
</html>
