<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Gate</title>
    <link rel="stylesheet" href="/static/css/display.css">
    <link rel="shortcut icon" href="/static/imagens/gate.png" type="image/x-icon" class="favicon">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="barra">

        <div class="titulo">
            <h1 class="titulo-detect-visual">Star <span>Gate</span></h1>
        </div>
        <div class="perso_aluno">

            <div class="diretoria">
                <button class="Direct" onclick="window.location.href='login';">login</button>
            </div>
            <div class="buton-secret">
                <a href="{{ url_for('auth.cadastro') }}">
                    <button class="Secret">cadastro</button>
                </a>
            </div>
        </div>
    </div>
    <div class="espaço-caixa"> <!-- caixa para separar do resto-->
    </div>
        <img src="/static/imagens/programa.png" alt="Imagem de um portão" class="imagem-portao">
        <div class="conteudo">
            <div class="texto">
                <h2 class="subtitulo">Bem-vindo ao Star Gate</h2>
                <p class="descricao">O Star Gate é um sistema inovador desenvolvido para facilitar o acesso e a gestão de informações na escola. Com ele, alunos, professores e funcionários podem interagir de maneira eficiente e segura.</p>
            </div>
        </div> <!-- espaçocaixa -->

    <div class="tela-preta">
        <div class="caixa-preta">
            <img src="/static/imagens/constelacao.png" alt="Imagem da constelacao star gate" class="imagem-conste">
            <h2 class="titulo-caixa">Recursos do Star Gate</h2>
            <ul class="lista-recursos">
                <li>Acesso rápido a notas e desempenho acadêmico</li>
                <li>Comunicação direta entre alunos e professores</li>
                <li>Calendário de eventos escolares</li>
                <li>Biblioteca digital com recursos educacionais</li>
                <li>Fóruns de discussão para colaboração entre estudantes</li>
            </ul>
        </div>
    </div>
    <script src="/static/display.js"></script>
     <main></main>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
             <h1>Logo</h1>
             <p>isso aí</p>   

             <div id="footer_social_media">
                <a href="#" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                     <a href="#" class="footer-link" id="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
             </div>
            </div>
            
            <ul class="footer-list">
                <li>
                    <h3>Blog</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">tech</a>
                </li>
                <li>
                    <a href="#" class="footer-link">adventures</a>
                </li>
                <li>
                    <a href="#" class="footer-link">music</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Products</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">app</a>
                </li>
                <li>
                    <a href="#" class="footer-link">desktop</a>
                </li>
                <li>
                    <a href="#" class="footer-link">cloud</a>
                </li>
            </ul>

            <div id="footer_subscribe">
                <h3>subscribe</h3>

                <p>
                    Enter your e-mail to get notified about 
                   our news solutions
                </p>

                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-solid fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer_copyright">
            &#169
            2025 All rights reserved for Star_Gate
        </div>
    </footer>
</body>
</html>
