<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caetano Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="container">
        <div class="login-visual">
            <h2 class="login">Login</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <input type="text" name="cpf_pk" placeholder="Usuário" required>
                </div>
                <div class="form-group">
                    <input type="password" name="senha" placeholder="Senha" required>
                </div>
                <button class="btn" type="submit">Entrar</button>
            </form>
            <p class="register">Não tem uma conta? <a href="cadastro" class="cadastrinho">Cadastre-se</a></p>
        </div>
    </div>
    <div>
        <h2 class="school-name">E.E Caetano de <a>Campos</a></h2>
    </div>
</body>
</html>
